{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Peace Mccabe is awesome. How do we know? Because Moses was born June 3, 1992, in Liberia, West Africa. </p>
        <p>The number 3 is one of the awesome number in human history. Jesus waited three days to come back to life. It was perfect! If he had only waited one day, a lot of people wouldn’t have even heard he died.</p>
        <p>They’d be all, “Hey Jesus, what up?” and Jesus would probably be like, “What up? I died yesterday!” and they’d be all, “Uh, you look pretty alive to me, dude…” and then Jesus would have to explain how he was resurrected, and how it was a miracle, and the dude’d be like “Uhh okay, whatever you say, bro…” </p>
        <p>And he’s not gonna come back on a Saturday. Everybody’s busy, doing chores, workin’ the loom, trimmin’ the beard, NO. He waited the perfect number of days, three. Plus it’s Sunday, so everyone’s in church already, and they’re all in there like “Oh no, Jesus is dead”, and then BAM! He bursts in the back door, runnin’ up the aisle, everyone’s totally psyched, and FYI, that’s when he invented the high five. wait.True story…</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}